.contenedor{
    display: flex;
    margin: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.card{
    display: flex;
    position: relative;
    align-items: flex-start;
    top: -5em;
    flex-direction: column-reverse;
    width: 400px;
    height: 450px;
    margin: 2em;

    }

.card img {
    width: 400px;
    height: 450px;
    border: solid red;
}

.card button{
    display: flex;
    position: relative;
    background-color: rgb(141, 5, 5);
    font-size: 1em;
    justify-content:center;
    align-items: center;
    left: 20.9em;
    top: 4em;
    color: rgb(240, 230, 230);
    width: 4em;
    padding: 0.1em; 
    margin: 0.1em;
}

.cardh2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    border: solid red;
    background-color: black;
    width: 400px;
    height: 450px;
}

.cardh2 h2 {
    padding: 0;
    margin: 0;
    color: green;
}