.contenedor{
   display:flex;
   position: relative;
   top: 10em;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   background-image: url('/public/Imagenes/planeta_1024x768.jpg');
   background-size: cover;
   border-radius: 0.5em;
   width: 800px;
   height: 400px;
}

.datos{
   display:grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   justify-content: center;
   align-items: center;
   width: 900px;
   height: 500px;
  

}


.contenedorImagen img{
   position: relative;
   border-radius: 2em;
   margin: 0;
   padding: 0;
   width: 200px;
   height: 250px;

}

.contenedorh1{
   position: relative;

}

.contenedorh1 h1{
   color: green;
   font-size: 2em;
  
}

.contenedorh3{
   
   color: green;

   
}

.contenedorh3 h3{
   position: relative;
   font-size: 1.8em;
   padding: 0;
   margin-bottom: 1em;
}

.boton{
   display: flex;
   position: relative;
   font-size: 0.8em;
   
}

.boton button{
   background-color: red;
   color: white;
}





