.contenedor {
    display: flex;
}



.carta{
    position: relative;
    bottom: 8em;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: cornsilk;
    margin: 1em;
    border: solid grey;
}
