
.nav {
    display: flex;
    z-index: 2;
    position: fixed;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contH1 {
    display: flex;
    position: relative;
    bottom: 2em;
    margin-top: 0%;
    color: green;
    font-size: 1.5em;
}

.Buscador{
    display: flex;
    position: relative;
    bottom: 3.5em;
}

.botones{
    position: relative;
    right: 22em;
    bottom: 7.2em;
    font-size: 0.7em;
}

.cierre{
    position: relative;
    left: 41em;
    bottom: 13em;
}


