.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar input{
    position: relative;
    font-size: 18px;
    background-color: rgb(246, 235, 235);
    color: rgb(4, 105, 4);
    border: solid 0.1em;
    border-color: black;
    border-radius: 0.3em;
}

.buscar button {
    position: relative;
    font-size: 1em;
    border-radius: 0.3em;
    border:solid 0.1em;
    border-color: black;
    background-color: green;
    margin: 0.1em;
}